<h1>All Users</h1>
<ul class="group">
<% @users.each do |user| %>
  <li><%= user.username %></li>
  <div class="friend-buttons <%= which_toggle(current_user.id, user.id) %>">
    <button class="friend" data-infriendid="<%= user.id %>">Add Friend</button>
    <button class="unfriend" data-infriendid="<%= user.id %>">Unfriend</button>
  </div>
<% end %>
</ul>

<script>

$(document).ready(function() {
  $(".group").on("click", ".friend", function(event){
    var $button = $(event.currentTarget)
    var infriendId = $button.attr("data-infriendid");
    var url = "/users/"+infriendId+"/friendships";
    $.ajax({
      url: url,
      type: "POST",
      success: function(resp) {
        $($button.closest("div")).removeClass("can-friend");
        $($button.closest("div")).addClass("can-unfriend");
        console.log(resp);
      }
    });
    $button.prop("disabled", true);
    $button.html("Friending...");

  });

  // $(".group").on("click", ".unfriend", function(event){
//     var $button = $(event.currentTarget)
//     var infriendId = $button.attr("data-infriendid");
//     var url = "/users/"+infriendId+"/friendships";
//     $.ajax({
//       url: url,
//       type: "POST",
//       success: function(resp) {
//         $button.remove();
//         console.log(resp);
//       }
//     });
//     $button.prop("disabled", true);
//     $button.html("Friending...");
//
//   });
});

</script>