<form action="<%= secrets_url %>" method="post" id="secret-form">
  <%= auth %>
  <input type="hidden"
         name="secret[recipient_id]"
         value="<%= user.id %>">

  <input type="hidden"
         name="secret[author_id]"
         value="<%= author.id %>">

  <input type="text"
         name="secret[title]"
         ><br>

  <button>Post a secret, you sly guy.</button>
</form>